---
import type { HTMLAttributes } from 'astro/types'

import { nanoid } from 'nanoid'
interface Props extends HTMLAttributes<'input'> {
	label: string
	groupName: string
	value: string
}

const { label, groupName, value } = Astro.props
const id = nanoid(6)
---

<label
	class="flex items-center gap-2 rounded-md border border-gray-200 bg-gray-100 p-4 has-[:checked]:border-sky-500 has-[:checked]:bg-sky-100"
	for={id}
>
	<span class="flex-1">{label}</span>
	<input class="hidden" type="checkbox" id={id} name={groupName} value={value} />
</label>
